*{
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#appName{
  font-size: larger;
  font-weight: bolder;
}

#navbar {
  display: flex;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.navpart {
  font-size: large;
  display: inline;
  /* background-color: saddlebrown; */
}
.navItem, .navList{
  display: inline;
  margin: 10px;
  padding: 5px;
}
#RightSideOfNav{
 position: relative;
 right: 0px;
}

.table-users th,td{
  text-align: center;
  padding: 2px 6px;
}