@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro&display=swap');
:root{
  --color-primary : aquamarine ;
  --color-secondary : rgb(139, 216, 255) ;
  --color-gray : rgb(56, 56, 56) ;
  --std-width : 12rem ;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

footer,.div-learning {
  text-align: center;
  max-width: 85%;
  margin: 1rem auto;
  background-color: var(--color-secondary);
  padding: 1rem 1rem;
  border-radius:8px;
}
.div-learning{
  border-bottom-right-radius:3rem;
}
.div-learning h1 {
  margin-top: 3rem;
}

section{
  max-width: 280px;  
  margin: 1rem auto;
}

.form-part{
  width: inherit;
  margin: 1rem auto;
  padding: 0.8rem ;
  /* box-shadow: 0px 0px 3px 1px rgb(39, 37, 39); */
  border-radius: 0.5rem;
}
label,input{
  min-width: var(--std-width);
  margin: 0.2rem auto;
  display: block;
  padding: 0.5rem;
  outline: none;

}
input{
  border: none;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
}

button{
  background-color: rgb(248, 211, 255) ;
  color:rgb(26, 14, 34);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-weight: bold;
  outline: none;
  box-shadow: 0px 0px 1px rgb(13, 8, 31);
}
.div-output {
  /* max-width: var(--std-width);   */
  font-style: italic;
  margin: 2rem auto;
  padding: 2rem;
  font-size: large;
  font-weight: bold;
  border: 1px dashed #333333;
  border-radius: 0.5rem;
  display: none;
}

footer {
  background-color: var(--color-primary);
  border-top-left-radius: 3rem;
  padding: 2rem;
  position:absolute;
  left : 8% ;
  width: 85%;
  bottom: 0px;
}

footer ul,
p,
div,
li {
  text-align: center;
}

footer .link-social {
  color: rgb(0, 0, 0);
  margin: 0px 0.1rem;
  font-weight: bolder;
}
.label {
  color: var(--color-gray);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
.brand {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: large;
  text-shadow: black 2px 2px 25px;
}
.list-no-bullet {
  list-style: none;
}

.link-text-dec-none {
  text-decoration: none;
}
.list-item-inline {
  display: inline;
}